@include form;

.signup.outside-container {
    top: 0;
    right: -100vw;

    .error-container {
        position: absolute;
        background-color: rgba($color: $light-grey, $alpha: 0.2);
        backdrop-filter: blur(5px);
        padding: 30px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        text-align: center;
        color:$dark-grey;
        font-family: $primary-font;
        font-weight: 300;
        top:0;
        left: 50px;
        z-index: 20;
        box-shadow: rgba($color: #000000, $alpha: 0.25) 4px 0px 4px 0;

        p {
            cursor:default;
        }
    }

    .form-container {

        .inputs.email {
            top: 100px;
        }

        .inputs.username {
            top: 175px;
        }

        .inputs.password {
            top: 250px;
        }

        .inputs.confirmpassword {
            top: 325px;
        }

        label.label {
            top: -25px;
            animation: moveToLabel 0.5s linear;
        }

        @keyframes moveToLabel {
            from {
                top: 13px;
            }
            to {
                top: -25px;
            }
        }

        label.placeholder {
            animation: moveToPlaceholder 0.5s linear;
        }

        @keyframes moveToPlaceholder {
            from {
                top: -25px;
            }
            to {
                top: 13px;
            }
        }

        .btn-container {
            position: absolute;
            bottom: 35px;
            .btn {
                font-size: 1.5em;
                width: 175px;
                height: 60px;
            }
        }
    }
}
.signup.outside-container.initial {
    display: none;
}

.signup.outside-container.visible {
    top: 0;
    right: 0;
    animation: show 0.5s linear;
}

.signup.outside-container.hidden {
    top: 0;
    right: -100vw;
    animation: hide 0.5s linear;
}

@keyframes show {
    0% {
        right: -100vw;
    }
    100% {
        right: 0;
    }
}

@keyframes hide {
    0% {
        right: 0;
    }
    100% {
        right: -100vw;
    }
}

