.ChangePassword {
    width:100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    .success {
        width: 100vw;
        height: 100vh;
        background-color: #fff;
        position: absolute;
        top:0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .success_content {
            display: flex;
            flex-wrap: wrap;

            h1,h3{
                font-family: $primary-font-family;
                text-align: center;
                flex-basis: 100%;
                color:$primary_font_color;
                font-weight: 400;
            }



            h1 {
                font-size: 24px;
                position: relative;
                margin-bottom: 5px;

                .check {
                    height: 30px;
                    position: absolute;
                    left:25%;
                    top:-2px;
                    color:#20A173;
                }
            }

            h3 {
                font-size: 16px;
                margin-bottom:20px;

            }

            button {
                @include button_settings;
                margin: 0 auto;
            }
        }

    }

    .errors {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;

        .error_field {
            width: 220px;
            height: 250px;
            background-color: $secondary_light_grey;
            box-shadow: rgba($color: black, $alpha: 0.25) 0 2px 4px 0;
            border-radius: 5px;
            position: relative;
            color: $primary_font_color;
            text-align: center;
            margin: 0 auto;
            margin-top:100px;
            font-family: $primary-font-family;
            color: $primary_font_color;
            font-weight: 300;

            h1 {
                font-size:14px;
                padding-top:25px;
                margin-bottom: 10px;
            }

            p {
                font-size: 10px;
                margin-bottom: 8px;
            }

            .x_mark {
                position: absolute;
                right: 10px;
                top: 10px;
                cursor: pointer;
                height: 15px;
                width: 15px;
            }
        }
    }

    .back_icon {
        position: absolute;
        height: 30px;
        color: $primary_blue;
        top:25px;
        right:25px;
    }

    .picture_container {
        width: 100px;
        height: 100px;
        border: 2px solid $secondary_light_grey;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        margin: 0 auto;
        margin-top: 35px;
        margin-bottom: 20px;

        .user {
            color: $secondary_grey;
            height: 70px;
        }
    }

    input {
        font-family: $primary-font-family;
        font-size: 14px;
        font-weight: 300;
        width: 70%;
        height: 25px;
        border: 1px solid $secondary_grey;
        border-radius: 2px;
        margin:0 auto;
        margin-bottom: 10px;
        border-radius: 2px;

    }

    input:focus {
        outline: none;
    }
    .change_password_button {
        @include button_settings;
        margin: 0 auto;
        color: $primary_font_color;
        background-color: $secondary_light_grey;
        width: 120px;
        font-size: 12px;
        margin-bottom: 10px;
    }

    .submit_button {
        @include button_settings;
        margin: 0 auto;
        margin-top:40px;
    }
}
