@mixin button_settings {
    width:120px;
    height: 40px;
    font-family: $primary_font_family;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: $primary_blue;
    margin-bottom: 10px;
    cursor: pointer;
} 

@mixin font_settings {
    font-family: $primary-font-family;
    color:$primary_font_color;
    font-size: 16px;
    font-weight: 300;
}

