$primary_blue: #6889FF;
$secondary_blue: #4C5096;
$secondary_grey: #ADADAD;
$secondary_light_grey: #EBEBEB;
$primary_font_color: #4D4D4D;
$background_color:#F8F9FF;
$green_color:#20A173;

$primary_font_family: 'Roboto','sans-serif';
$navbar_height:7vh; //Important control variable. Using it as margin-bottom paramentr. Because of this content container is scrolling when overflow