.Edit {
    width:100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    .back_icon {
        position: absolute;
        height: 30px;
        color: $primary_blue;
        top:25px;
        right:25px;
    }

    .picture_container {
        width: 100px;
        height: 100px;
        border: 2px solid $secondary_light_grey;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        margin: 0 auto;
        margin-top: 35px;
        margin-bottom: 20px;

        .user {
            color: $secondary_grey;
            height: 70px;
        }
    }

    input {
        width: 70%;
        height: 25px;
        border: 1px solid $secondary_grey;
        border-radius: 2px;
        margin: 0 auto;
        margin-bottom: 10px;
        @include font_settings;
    }

    input:focus {
        outline: none;
    }
    .change_password_button {
        @include button_settings;
        margin: 0 auto;
        color: $primary_font_color;
        background-color: transparent;
        width: 120px;
        font-size: 12px;
        margin-bottom: 10px;
        margin-top: 30px;
        border: 1px solid #adadad;
    }

    .submit_button {
        @include button_settings;
        margin: 0 auto;
    }
}
