.Navbar {
    height: $navbar_height;
    width:100%;
    background-color: $primary_blue;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 30;

    .icon_container {
        text-align: center;
        display: inline-block;
        width:30px;
        height: 30px;
        flex-basis: 30%;

        .icon {
            height: 30px;
            color: $secondary_blue;
            cursor: pointer;
        }
    }

    .icon_container.active {
        .icon {
            color:#fff
        }
    }
}