@import './utilities/variables';
@import './utilities/mixins';


@import './global/global';
@import '../components/navbar/navbar';
@import '../components/landingpage/landingpage';
@import '../components/login/login';
@import '../components/signup/signup';
@import '../components/mytasks/mytasks';
@import '../components/profile/profile';
@import '../components/todayslist/todayslist';
@import '../components/elements/buttons/buttons';

